# Database
SPRING_DATASOURCE_URL=jdbc:mariadb://localhost:3306/chartmania
SPRING_DATASOURCE_USERNAME=chartmania
SPRING_DATASOURCE_PASSWORD=changeme

# JWT
JWT_SECRET=change-me-in-production
JWT_ISSUER=chartmania-api
JWT_EXP_MINUTES=80
JWT_REFRESH_TOKEN_EXP_MINUTES=14400

# Security
SECURE_COOKIE=false

# CORS
ALLOWED_ORIGIN=http://localhost:8081

# Frontend
VITE_API_URL=http://localhost:8080

#Upload Directory
CHART_UPLOAD_DIRECTORY=/app/uploads/charts
