# Database
DB_USER=chartmania
DB_PASSWORD=changeme
DB_ROOT_PASSWORD=changeme

# JWT
JWT_SECRET=change-me-in-production
JWT_ISSUER=chartmania-api
JWT_EXP_MINUTES=80
JWT_REFRESH_TOKEN_EXP_MINUTES=14400

# Security
SECURE_COOKIE=false

# CORS
ALLOWED_ORIGIN=http://localhost:8081

# Frontend
VITE_API_URL=http://localhost:8080
